{% load wagtailcore_tags %}
{% load taggit_templatetags2_tags %}

<div class="content">
    {% for post in podcasts %}
        <div id="post">
            <table class="post-table">
                <tr>
                <td><h2 class="post-title">{{ post.title }}</h2></td>
                </tr>
                <tr>
                    <td><h3 class="post-date">{{ post.date|date:"M d, Y" }}</h2></td>
                <tr>
                    <td><p class="post-description">{{ post.specific.description|richtext }} </p></td>
                </tr>
                <tr>
                    <td class="audio-row">
                    <audio controls>
                    <source src="{{ post.specific.audio.file.url }}" type="audio/mpeg">
                    Unsupported Audio
                    </audio>
                    </td>
                </tr>
                <tr>
                    <td>
                    {% for tag in post.specific.tags.all %}
                        <a href="{% pageurl page %}?tag={{ tag }}" class="tag">{{ tag }}</a>
                    {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
</div>
